{% extends "layout.html" %} {% block content %}
<main>
  <!-- Search place -->
  <section class="search-section">
    <!-- class name was res -->
    <form id="searchbar" action="/" method="post">
      <input
        type="text"
        name="username"
        class="search"
        id="Username"
        placeholder="Enter GitHub Username"
      />
      <button type="submit" onclick="Search()" id="searchbutton">Search</button>
    </form>
    <p class="entered_username">{{ username }}</p>
  </section>

  <!-- Username Result -->
  <section id="results" class="results-section">
    <!-- User Profile -->
    <div class="profile">
      {% if avatar_url != "N/A" %}
      <div class="avatar">
        <img src="{{ avatar_url }}" alt="avatar" class="profile-img" />
      </div>
      {% else %} {% endif %} {% if avatar_url != "N/A" %} {% if name %}
      <h2 class="name">{{ name }}</h2>
      {% else %} {% endif %} {% else %} {% endif %} {% if login_name != "N/A" %}
      <a id="github-link" href="" target="_blank"></a>
      {% else %}
      <h3 class="error_message">Please Enter Valid Username</h3>
      {% endif %} {% if avatar_url != "N/A" %} {% if bio %}
      <p class="bio">{{ bio }}</p>
      {% else %} {% endif %} {% else %} {% endif %} {% if create_date != "N/A"
      %}
      <p id="created-date">account created on : {{ create_date }}</p>
      {% else %}
      <p id="created-date"></p>
      {% endif %}
    </div>
    <h2 style="margin: 20px">Stats of {{ username }}</h2>

    <!-- User Contribution chart -->
    {% if profile_chart != "N/A" %}
    <div class="contribution">
      <img class="profile-chart" src="{{profile_chart}}" />
    </div>
    {% else %} {% endif %}

    <!-- User Profile Insights -->
    {% if repos_count != "N/A" %}
    <div class="stats-container">
      <div class="stat-item">
        <div class="stat-icon" style="background-color: #fbcfe8">
          <i class="fas fa-book"></i>
        </div>
        <div class="stat-text">
          <h2>{{ repos_count }}</h2>
          <p>Repos</p>
        </div>
      </div>
      <div class="stat-item">
        <div class="stat-icon" style="background-color: #ccfbf1">
          <i class="fas fa-users"></i>
        </div>
        <div class="stat-text">
          <h2>{{ followers_count }}</h2>
          <p>Followers</p>
        </div>
      </div>
      <div class="stat-item">
        <div class="stat-icon" style="background-color: #ede9fe">
          <i class="fas fa-user-plus"></i>
        </div>
        <div class="stat-text">
          <h2>{{ following_count }}</h2>
          <p>Following</p>
        </div>
      </div>
      <div class="stat-item">
        <div class="stat-icon" style="background-color: #fef3c7">
          <i class="fas fa-code"></i>
        </div>
        <div class="stat-text">
          <h2>{{ gists_count }}</h2>
          <p>Gists</p>
        </div>
      </div>
    </div>

    {% else %} {% endif %}

    <!-- User Detailed Information -->
    <div class="stat-boxes">
      <div class="stat-box">
        <h3>User Statistics</h3>

        <iframe id="stat" src="{{ user_statistics }}"></iframe>
      </div>
      <div class="stat-box">
        <h3>Contribution Streaks</h3>
        <iframe id="streak" src="{{ streaks }}" title="github stats"></iframe>
      </div>
      <div class="stat-box">
        <h3>Most Used Languages</h3>
        <iframe
          id="language"
          src="{{ languages_used }}"
          title="languages"
        ></iframe>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
